@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* RESETTINGS */
html {
	min-width: 100vw;
	min-height: 100vh;
}

html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

img {
	display: block;
}

p, blockquote {
	line-height: 1.5;
}

/* COLORS */
:root {
	/* Primary */
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-desaturated-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--dark-moderate-cyan: hsl(168, 34%, 41%);
	/* Neutral */
	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
}

/* GENERAL SETTINGS */
body {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
}

* {
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	transition: 0.2s;
	box-sizing: border-box;
}

h1, h3, strong {
	font-family: 'Fraunces', serif;
}

#menu { display: none; }

/* Header */
#main-header {
	height: 100vh;
	background-image: url("images/desktop/image-header.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: grid;
	grid-template-rows: 15% 15% 1fr;
	grid-template-columns: 60% 1fr;
}

.logo-container {
	grid-row: 1;
	grid-column: 1;
	padding-left: 5%;
	display: flex;
	align-items: center;
}

.logo-container img { width: 20% }

.navbar-main-header {
	grid-row: 1;
	grid-column: 2;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbar-main-header a {
	text-decoration: none;
	color: var(--white);
}

.navbar-main-header a:not(a:last-child):hover {
	text-shadow: 0 0 10px var(--white);
}

.navbar-main-header a:last-child {
	background-color: var(--white);
	color: var(--very-dark-desaturated-blue);
	padding: 3% 4%;
	border-radius: 30px;
}

.navbar-main-header a:last-child:hover {
	background-color: #70D0FA;
	color: var(--white);
}

#main-header h1 {
	grid-row: 2;
	grid-column: 1 / 3;
	text-align: center;
	color: var(--white);
	font-size: 3rem;
}

#main-header div:last-child {
	grid-row: 3;
	grid-column: 1 / 3;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#main-header div:last-child img { margin-top: 10% }

/* About */
#about {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#about article {
	width: 100%;
	display: flex;
}

#about article > *{
	width: 50%;
}

#about article:nth-child(even) {
	flex-direction: row-reverse;
}

.about-article-info {
	padding: 10% 8%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-article-info h3 {
	font-size: 2.5rem;
	margin: 0;
	color: var(--very-dark-desaturated-blue);
}

.about-article-info p {
	color: var(--dark-grayish-blue);
	flex: 1;
	display: flex;
	align-items: center;
}

.about-article-info a {
	text-decoration: none;
	font-family: 'Fraunces';
	color: var(--very-dark-desaturated-blue);
	width: 30%;
	text-align: center;
	overflow: visible;
	height: 3%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.about-article-info a:hover {
	border-radius: 30px;
	border: none;
}

#about article:first-child .about-article-info a:hover {
	filter: saturate(0.3) brightness(1.2);
	background-color: var(--yellow);
}

#about article:last-child .about-article-info a:hover {
	filter: saturate(0.3) brightness(1.5);
	background-color: var(--soft-red);
}

.about-article-image { width: 100% }

.about-article-image img { width: 100% }

/* Services */
#services {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.services-categories {
	height: 88vh;
	display: flex;
}

.services-categories article {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5% 10%;
	position: relative;
	width: 50%;
	text-align: center;
	color: var(--dark-desaturated-cyan);
}

.services-categories article h3 {
	font-size: 1.6rem;
}

.services-categories article picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.services-categories article picture img {
	width: 100%;
	height: 100%;
}

.services-testimonials {
	display: grid;
	grid-template-rows: 20% 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height: 110vh;
	background-color: var(--white);
	padding: 10% 3% 3% 3%;
}

.services-testimonials h3 {
	grid-row: 1;
	grid-column: 1 / 4;
	text-align: center;
	color: var(--grayish-blue);
	font-size: 1.1rem;
	letter-spacing: 0.5vw;
}

.client-testimonial {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 10%;
}

.client-testimonial img {
	border-radius: 50%;
	width: 20%;
}

.client-testimonial blockquote {
	color: var(--very-dark-grayish-blue);
	text-align: center;
	margin-top: 15%;
}

.client-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5;
	margin-top: 10%;
}

.client-info strong {
	color: var(--very-dark-desaturated-blue);
}

.client-info small {
	color: var(--grayish-blue);
}

/* Projects */
#projects {
	display: flex;
}

#projects picture img {
	width: 100%;
	height: 100%;
}

/* Contact */
#contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark-moderate-cyan);
	color: var(--dark-moderate-cyan);
	filter: brightness(1.7) saturate(0.7);
	height: 50vh;
	padding: 5%;
}

#contact img {
	filter: invert(1) opacity(0.6);
}

.navbar-contact {
	display: flex;
	justify-content: center;
	color: var(--dark-desaturated-cyan);
	width: 100%;
}

.navbar-contact a {
	text-decoration: none;
	margin: 0 2%;
	color: var(--dark-desaturated-cyan);
}

.navbar-contact a:hover { color: var(--white) }

.navbar-contact:last-child a { margin: 0 1% }

.navbar-contact:last-child a i { font-size: 1.4rem }

/* MOBILE SETTINGS */
@media screen and (max-width: 1080px) {
	/* Header */
	#main-header {
		background-image: url("images/mobile/image-header.jpg");
		background-size: 100%;
		height: 80vh;
		grid-template-columns: 1fr 20%;
	}

	.logo-container {
		padding-left: 8%;
	}

	.logo-container img {
		width: 45%;
	}

	.navbar-main-header {
		display: none;
		position: absolute;
		width: 86%;
		background-color: var(--white);
		height: 50vh;
		top: 15%;
		left: 7%;
		z-index: 1;
		flex-direction: column;
	}

	.navbar-main-header::after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10vw 10vw 0px 5vw;
		border-color: transparent var(--white) transparent transparent;
		top: -10%;
		right: 0;
		z-index: 0;
	}

	.navbar-main-header a:not(a:last-child) {
		color: var(--dark-grayish-blue);
	}

	.navbar-main-header a:not(a:last-child):hover {
		color: var(--very-dark-desaturated-blue);
	}

	.navbar-main-header a:last-child {
		background-color: var(--yellow);
		font-family: 'Fraunces';
		padding: 3% 5%;
	}

	#menu {
		all: unset;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#menu:hover {
		cursor: pointer;
	}

	#main-header h1 {
		font-size: 2.2rem;
		letter-spacing: 1.2vw;
	}

	#main-header div:last-child {
		align-items: center;
	}

	#main-header div:last-child img {
		width: 10%;
	}
}
